#bdField {
	background: url('../img/calendar.png') no-repeat;
	background-position: right;
}
#form, #button-bar {
	text-align: center;
}
.button-add, .button-remove, .button-edit, .button-refresh, .button-success, .button-error {
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.pure-button{
	min-width: 100px;
}
.button-add, .button-success {
	background: rgb(28, 184, 65); /* это зелёный */
}

.button-remove, .button-error {
	background: rgb(202, 60, 60); /* это тёмно-бордовый */
}

.button-edit {
	background: rgb(223, 117, 20); /* это оранжевый */
}

.button-refresh {
	background: rgb(66, 184, 221); /* это светло-голубой */
}
